.container-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .item {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-left: 20%;
  }

  .item > h3 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: #57bbfab0;
    position: relative;
    right: 35%;
  }

  .item > p {
    position: relative;
    right: 35%;
    padding: 10px;
  }

  .item > button {
    position: relative;
    right: 35%;
    top: 4%;
    border: none;
    color: white;
    background-color: #57bbfa9e;
    padding: 16px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Comfortaa', cursive;
  }

  .image {
    width: 60%;
    border-radius: 20px;
    margin-top: 3%;
    text-align: center;
    margin-left: 27%;
  }

  @media screen and (max-width:940px) {
    .container-container {
        grid-template-columns: 1fr; 
        align-items: center;       
    }

    .item {
        margin-left: 40%;
    }

    .item > h3  {
        font-size: 30px;
    }

    .image {
        width: 250px;
        margin-left: 26%;
    }
}